<div class="jumbotron">
    <h1><i class="fa fa-diamond fa-fw"></i><%= t '.title' %></h1>
    <h1><i class="fa fa-whatsapp fa-fw" style="color: green; background-color: #fff"></i><%= t '.title' %></h1>
    <h1><i class="fa fa-line fa-fw" style="color: green"></i><%= t '.title' %></h1>
    <p><%= t '.description' %></p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>